---
import Projects from "@/components/Projects.astro"
import MainLayout from "@/layouts/MainLayout.astro"
import Section from "@/components/Section.astro"
---

<MainLayout>
	<Section delay="0.35s">
		<h1>dimfu</h1>
		<p>Hello! I'm Mufid, a software engineer based in Bali, Indonesia.</p>
		<p>I use TypeScript, Golang and Next.js on a daily basis and love them. My work typically revolves around website development and other areas that interest me.</p>
	</Section>

	<Section delay="0.40s">
		<h4>Projects</h4>
		<Projects />
	</Section>

	<Section delay="0.45s">
		<h4>Contact</h4>
		<p>
			Reach me out at <a href="mailto:contact@dimfu.my.id">contact@dimfu.my.id</a>, you can view my code
			<a href="https://github.com/dimfu" target="_blank">@dimfu</a> on Github.
		</p>
	</Section>
	<Section delay="0.50s">
		<a class="hide-underline" href="https://github.com/dimfu/www" target="_blank">
			<small>View Source</small>
		</a>
	</Section>
</MainLayout>
