---
---

<main class="h-screen">
	<div class="max-w-3xl flex flex-col h-full items-center mx-auto justify-center">
		<div class="text-center">
			<p class="text-3xl font-bold">dimfu</p>
			<p class="text-base">Software Engineer, Bali ID</p>
		</div>
		<ul class="border-t py-2 mt-3 flex items-center justify-center text-sm">
			<li class="hover:underline">
				<a href="https://github.com/dimfu" target="_blank">Github</a>
			</li>
			<li class="hover:underline">
				<a href="mailto:dimmfu@gmail.com">Email me</a>
			</li>
			<li class="hover:underline">
				<a href="https://discordapp.com/users/444209355722719232" target="_blank">Discord</a>
			</li>
		</ul>
	</div>
</main>

<style>
	li:not(:last-child):after {
    content: ' \00b7';
    display: inline-flex;
    margin: 0 1rem;
  }
</style>