---
import RightArrow from './icons/RightArrow.astro'
interface Props  {
    title: string,
    description: string,
    href: string
}

const { title, description, href, ...rest } = Astro.props;
---

<li class="project" {...rest}>
    <a
        href={href}
        target="_blank"
        class="flex items-center text-lg"
    >
        {title}
        <RightArrow/>
    </a>
    <p>{description}</p>
</li>
