---
import '@fontsource/poppins/100.css'
import '@fontsource/poppins/200.css'
import '@fontsource/poppins/300.css'
import '@fontsource/poppins/400.css'
import '@fontsource/poppins/500.css'
import '@fontsource/poppins/600.css'
import '@fontsource/poppins/700.css'
import '@fontsource/poppins/800.css'
import '@fontsource/poppins/900.css'
import '../styles/global.css'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="color-scheme" content="dark">
    <meta name="theme-color" content="#111111" />
    <link rel="author" href="https://dimfu.my.id" /><meta
      name="author"
      content="dimfu"
    /> 
    <meta
      name="keywords"
      content="dimfu,mufid arkanu"
    />
    <meta name="creator" content="dimfu" /><meta
      name="publisher"
      content="dimfu"
    />
    <meta name="robots" content="index, follow, nocache" /><meta
      name="googlebot"
      content="index, follow, max-video-preview:-1, max-image-preview:large, max-snippet:-1"
    />
    <meta name="category" content="technology" /><link
      rel="canonical"
      href="https://dimfu.my.id"
    />
    <meta
      property="og:description"
      content="dimfu's personal site"
    />
    <meta property="og:url" content="https://dimfu.my.id" /><meta
      property="og:site_name"
      content="dimfu"
    />
    <meta property="og:locale" content="en-US" />
    <title>dimfu</title>
  </head>
  <body>
      <main>
        <slot />
      </main>
  </body>
</html>
